{% extends "layout.html" %}

{% block body_content %}
    <h1>Homepage - Welcome!</h1>
<table>
    <tr>
        <th><b>Gymnast ID: </b> </th>
        <th><b>First name: </b></th>
        <th><b>Last name: </b></th>
        <th><b>Age: </b></th>
    </tr>
    {% for Gymnasts in gymnasts %}
        <div class="content">
        <tr>
            <td>{{ Gymnasts.gymnast_id }}</td>
            <td>{{ Gymnasts.firstname }}</td>
            <td>{{ Gymnasts.lastname }}</td>
            <td>{{ Gymnasts.age }}</td>
            <td>
                <form action="{{ url_for('update', up=Gymnasts.gymnast_id) }}">
                    <button type="submit">Update</button>
                </form>
            </td><td>
                <form action="{{ url_for('remove', delete=Gymnasts.gymnast_id) }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </div>
    {% endfor %}
</table><table>
    <tr>
        <th><b>Skill ID: </b> </th>
        <th><b>Name: </b></th>
        <th><b>Level: </b></th>
        <th><b>Gymnasts Completed: </b></th>
    </tr>
    {% for Skills in skill %}
        <div class="content">
        <tr>
            <td>{{ Skills.skill_id }}</td>
            <td>{{ Skills.name }}</td>
            <td>{{ Skills.level }}</td>
            <td>{{ Skills.gymnast_id }}</td>
            <td>
                <form action="{{ url_for('update_skill', up_skill=Skills.skill_id) }}">
                    <button type="submit">Update</button>
                </form>
            </td><td>
                <form action="{{ url_for('remove_skill', delete_skill=Skills.skill_id) }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </div>
    {% endfor %}
</table>


{% endblock %}