{% extends "layout.html" %}

{% block body_content %}

    <h1>Update Skill Entry</h1>
    <div class="form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <div class="form_group">
            {{ form.skill_id.label }}
            {{ form.skill_id }}
            {% if form.skill_id.errors %}
                <div class="error">
                    {% for error in form.skill_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        <br>
        <br>
        </div>
        <div class="form_group">
            {{ form.name.label }}
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        <br>
        <br>
        </div>
        <div class="form_group">
            {{ form.level.label }}
            {{ form.level }}
            {% if form.level.errors %}
                <div class="error">
                    {% for error in form.level.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        <br>
        <br>
        </div>
        <div class="form_group">
            {{ form.gymnast_id.label }}
            {{ form.gymnast_id }}
            {% if form.gymnast_id.errors %}
                <div class="error">
                    {% for error in form.gymnast_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        <br>
        <br>
        </div>
        <div class="'form_group">
            {{ form.submit }}
        </div>
        </form>
    </div>


{% endblock %}